<style>
    .come-work-with-us {
        margin-top: 60px;
    }
    .center {
        text-align: center;
    }
    .subtitle {
        font-weight: 600;
        font-size: 36px;
        line-height: 128%;
        margin-bottom: 30px;
        margin-top: 60px;
        color: #222;
    }
    .description {
        font-size: 1.6em;
        width: 100%;
        color: #a1aeb7;
        line-height: 24px;
        margin-bottom: 32px;
        padding-left: 200px;
        padding-right: 200px;
    }
    .my-btn {
        background-color: #00356b;
        border: none;
        font-size: 1.4em;
        border-radius: 25px;
        letter-spacing: .28px;
        font-weight: 128%;
        padding: 15px 42px;
    }
    .txtcolor {
        color: #fff!important;
        font-size: large;
    }
    .space {
        margin-bottom: 100px;
    }
</style>
<div>
  <div class="container-fluid">
    <section class="come-work-with-us">
        <div class="row">
            <div>
                <h2 class="center subtitle">Welcome to Kido</h2>
                <div class="description center">
                    We are dedicated to providing the highest quality early years education and care in the world.
                    We are creating magical and engaging learning spaces infused with cutting edge pedagogy and great teachers 
                    to nurture and enhance every child’s innate curiosity, creativity and ability to be a lifelong learner.
                </div>
                <div class="center space">
                    <button class="my-btn">
                        <a class="nav-link txtcolor">Home</a> 
                    </button>
                </div>
            </div>
        </div>
    </section>
  </div>
</div>

  
